
.lrj-header-bg{
    background-color: #2EC4B6;
    color: #ffffff !important;
}
.ljr-header-outer{
    background-color: #2EC4B6;
}
.lrj-logo{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #cbf3f0 !important;
}

@media only screen and (min-width: 992px) {
    .navbar-expand-lg{
      padding-left: 6rem !important;
      padding-right:6rem !important;
    }
  }

  @media only screen and (min-width: 1200px){
    .navbar-expand-lg{
        padding-left: 8rem !important;
        padding-right:8rem !important;
      } 
  }
  /* @media only screen and (min-width: 768px){
    .navbar-expand-lg{
        padding-left: 5rem !important;
      } 
  } */

  .navbar-light .navbar-nav .nav-link{
      color:#cbf3f0 !important;
  }

  .navbar-light .navbar-nav .nav-link:hover{
      color:#ffbf69 !important;
  }