.material-icons.md-48 { font-size: 48px; }

.profile-title{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: large;
    color: #993399;
}
.user-profile{
    display: inline-block;
    width: 200px;
}

.material-icons.icon-status{
    color: green;
    border: solid 2px #00800041;
    border-radius: 50%;
    font-size: small;
}
.banner-text{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #993399;
}

 .btn-primary.search-primary{
    background-color: #993399 !important;
    border-color: #993399 !important;
}