
.lrj-content-inner{
    font-family: 'Open Sans', sans-serif !important;
    margin-top: 3.5rem !important;
    /* background-color: #f5f4f4; */
    /* min-height: 30rem */
}

.body{
    color:red !important;
}
