/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&family=Roboto+Slab:wght@100;200;300;400;700&display=swap');

.global-class {
  /* font-family: 'Roboto Slab', serif; */
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
  
}
