/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&family=Roboto+Slab:wght@100;200;300;400;700&display=swap');

.global-class {
  /* font-family: 'Roboto Slab', serif; */
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
  color: #424242;
}
h1,h2,h3,h4,h5,h6{
  color:#011627 !important;
}

.card-body > h1,h2,h3,h4,h5,h6{
  color:#011627 !important;
}

.btn-primary {
  color: #fff;
  background-color: #2EC4B6 !important;
  border-color: #2EC4B6 !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #27aea1 !important;
  border-color: #27aea1 !important;
}

#27aea1

.card-title{
  color: #011627 !important;
}

.card-text{
  color: #424242 !important;
}

