.login {
    width: 420px;
    padding: 30px;
    margin: 10px auto;
    box-shadow: 0 0 10px 1px #ccc;
    border-radius: 3px;
    -moz-box-shadow:    0 0 10px 1px #ccc;
   -webkit-box-shadow: 0 0 10px 1px #ccc;
   box-shadow: 0 0 10px 1px #ccc;
}
.login, h3 {
    text-align: center
}
.signIn {
    width: 100%;
    margin: 10px 0 0 0;
}
.google {
    width: 100%;
    margin: 10px 0;
    background-color: #e71d36 !important;
    border-color: #e71d36 !important;
}
.facebook {
    width: 100%;
    margin: 10px 0;
    background: #3a559f !important;
}
.inputs {
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0 !important;
    margin: 10px 0;
}