/* .lrj-footer-inner{
    color:#993399;
} */

.lrj-footer-bg{
    color: #2ec4b6;
    /* color:#cbf3f0 !important;
    color: #2EC4B6 !important; */
}

/* .navbar-light .navbar-brand{
    color: #2EC4B6 !important; 
} */
.lrj-footer-bg h4{
    font-weight: 800;
}
.list {
    padding: 0;
    float: right;
    list-style-type: none;
}
.list li{
    float: left;
    margin-left: 20px;
}